<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">    
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p><b>‎as-salāmu ʿalaykum</b></p>      
        </div>
        <div class="col-sm-4"> 
          <p><img src="/images/Bananaman.jpeg" style="width: 600px;"></p>
        </div>
        <div class="col-sm-4"> 
          <p><b>لسَّلَامُ عَلَيْكُمْ</b></p>
        </div>
      </div>
    </div>
    </body>
    <% include partials/script %>    
</html>
