<!DOCTYPE html>
<html>
  <head>
    <title><% include partials/head %></title>
  </head>
  <body>
    <% include partials/menu %>

    <div class="container-fluid bg-3 text-center">    
      <h3><%= page %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>WTF?</p>      
        </div>
        <div class="col-sm-4"> 
          <p><b>Contact</b></p>
        </div>
        <div class="col-sm-4"> 
          <p>WTF?</p>
        </div>
      </div>
    </div>
    
  </body>

  <% include partials/script %>

</html>